<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nexmo Passwordless Login</title>
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div id="container">
      <% if flash[:error] %>
        <div id='flash_error'><%= flash[:error] %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
