<h1>Start Login</h1>

<form action="/start_verification" method="post">
  <div class="field">
    <label for="number">Phone number:</label>
    <input type="text" name="number" placeholder='1234567890'>
  </div>
  <div class="actions">
    <input type="submit" value="Continue">
  </div>
</form>
